server {
	listen 80;
	server_name %HOSTNAME%;
	access_log /var/log/nginx/%SERVICENAME%.access.log;
	error_log /var/log/nginx/%SERVICENAME%.error.log;
	location / {
		proxy_buffering off;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_pass http://127.0.0.1:%PORT%;
	}
}
